.item-details {
  margin: 5px;
  padding: 5px 10px;
  border: solid 1px black;
  background-color: #dddddd;
  width: 300px; }

.item-details * {
  vertical-align: middle; }

.item-details ul li {
  padding: 5px 0;
  background-color: lightgray; }
