body {
  margin: 0;
  padding: 0; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

input, select, textarea {
  max-width: 280px; }

.field-validation-error {
  color: #b94a48; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error {
  border: 0 none; }

.validation-summary-errors {
  color: #b94a48; }

h1.header {
  font-size: 40px;
  margin: 46px 0 0 0;
  padding: 20px 20px 20px 112px;
  background: url("/images/header-bg.png") no-repeat left top #efefef; }

.navbar {
  margin-bottom: 0; }
  .navbar img {
    width: 32px;
    height: 32px;
    margin: -4x 0 0 0;
    padding: 0; }

#navbar-toggle-cbox {
  display: none; }
  #navbar-toggle-cbox:checked ~ .collapse {
    display: block; }
